*{margin:0;padding:0;box-sizing:border-box}

body{
background:#000;
color:#fff;
font-family:Arial, sans-serif;
overflow-x:hidden;
}

header{
position:fixed;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#000;
z-index:100;
}

.logo{height:50px}

nav a{
color:#fff;
margin-left:30px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:#c6ff00;
}

.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
position:relative;
}

#canvas-container{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:0;
}

.hero-content{
position:relative;
z-index:1;
}

.hero h1{
font-size:70px;
margin-bottom:20px;
}

.hero p{
color:#c6ff00;
margin-bottom:30px;
}

.btn{
background:#c6ff00;
color:#000;
padding:15px 40px;
text-decoration:none;
font-weight:bold;
border-radius:5px;
}
